.hero {
    width: 100%;
    min-height: 436px;
    background-color: #0E2D72;
    color: #FFF;
    padding: 70px;
    margin-bottom: 30px;
}
.info {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 80px;
}

.para {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.grid {
    display: grid;
    grid-template-areas: 
        "filter . . . . . tool tool"
        "kpi1 kpi1 kpi2 kpi2 kpi3 kpi3 tool tool"
        "donut donut donut method method method tool tool"
        "bar1 bar1 bar1 bar1 bar2 bar2 bar2 bar2" 
        "map map map map map map map map";
    width: 90vw;
    width: 100vw;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 300px 436px 90vh 80vh;
    gap: 40px;
    margin-bottom: 30px;
}
.filter {
    grid-area: filter;
}
.tool {
    grid-area: tool;
}
.kpi1 {
    grid-area: kpi1;
}
.kpi2 {
    grid-area: kpi2;
}
.kpi3 {
    grid-area: kpi3;
}
.donut {
    grid-area: donut;
}
.method {
    grid-area: method;
}
.bar1 {
    grid-area: bar1;
}
.bar2 {
    grid-area: bar2;
}
.map {
    grid-area: map;
}
.chartContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.filterPopover {
    background-color: transparent;
    border-radius: 30px;
}
.left, .right {
    width: 50%
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    a {
        text-decoration: underline;
    }
}
.bar1{
    grid-area: bar1;
    align-items: center;
}
.chartContainer {
    width: 100%;
    height: 100%;
}
.bar2{
    grid-area: bar2;
}
.toggleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
}