.hero {
    width: 100%;
    height: fit-content;
    background-color: #0E2D72;
    color: #FFF;
    padding: 50px 70px;
}
.info {
    height: 100%;
    width: 100%;
    a {
        text-decoration: underline;
    }
}

.para {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.about {

    h2 {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    p {
        line-height: 1.5em;
    }
    a {
        color: #002D72;
        font-weight: 500;
        text-decoration: underline;
    }
    
}
.odd, .even {
    padding: 70px;
    background-color: #F2F5F8;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.about_block {
    width: 50%;
    margin: auto;
    position: relative;
}
.imgEven, .imgOdd {
    img {
        height: auto;
    }
}
.imgEven {
    width: fit-content;
    position: relative;
    left: 90%;    
}
.imgOdd {
    margin-left: -140px;
}
.even {
    background-color: #ffffff;
    &:last-of-type {
        border-bottom: none;
    }
}
.question {
    h2 {
        color: #8096B9;
        font-weight: 600;
        font-size: 32px;
    }
    p {
        font-size: 20px;
    }
}
.footnote {
    margin-bottom: 40px;
    text-align: center;
}

@media only screen and (max-width: 870px) {
    .odd, .even {
        padding: 30px 10px;
    }    
    .about_block {
        width: 80%;
    }
    .imgOdd {
        left: 0;
        margin-left: -20px;
    }
    .imgEven {
        left: 75%;
    }
    .imgEven, .imgOdd {
        position: relative;
        img {
           width: 100px; 
        }
    }
}