.about {
    width: 50%;
    margin: 70px auto;

    h2 {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    p {
        line-height: 1.5em;
    }
    a {
        color: #002D72;
        font-weight: 500;
    }
}