.footer {
    width: 100%;
    height: 150px;
    background: #002D72;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 1000;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
    gap: 10px;
    content: \92;
}

.foot-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.foot-image {
    
    
    height: 64px;
}

.foot-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.foot-list-item {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.foot-bottom {
    width: 100%;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

