.modalRoot {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.2);

}

.modalContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 524px;
  height: 950px;
  border-radius: 30px;
  border: 1px solid #000;
  background: #A15A95;
}

.modalBody{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}


.checkboxInput {
  transform: scale(1.2);
}

.my-footer{
  display: flex !important;
  align-items: center !important;
}
